{% extends 'base.html' %}
{% block content %}

<div class="hero">
    <div>
        <h1>Delivery in 15 minutes ⚡</h1>
        <p>Get farm-fresh groceries, snacks, and more - delivered fast.</p>
        <a href="#" class="btn-white">Shop Now →</a>
    </div>
</div>

<div class="section-title">Shop by Category</div>

<div class="category-grid">
    {% for cat in categories %}
    <a href="{% url 'category_products' cat.slug %}" class="category-card">
        <img src="{{ cat.image.url }}">
        <span>{{ cat.name }}</span>
    </a>
    {% endfor %}
</div>

{% for item in category_products %}

<div class="section-header">
    <h2>{{ item.category.name }}</h2>
</div>

<div class="horizontal-scroll">

    {% for product in item.products %}
    <div class="scroll-card">

        <a href="{% url 'product_detail' product.slug %}" style="text-decoration:none; color:inherit;">
            <img src="{{ product.image.url }}" class="scroll-img">
            <div>{{ product.name }}</div>
        </a>

        <div>₹{{ product.effective_price }}</div>

        
        <div class="cart-action" id="cart-action-{{ product.id }}">

    <!-- ADD BUTTON -->
            <button onclick="addToCart('{{ product.id }}')"
            class="add-btn">ADD </button>
                 
        </div>


    </div>
    {% endfor %}

</div>

{% endfor %}

{% endblock %}